#header{
  display: flex;
  justify-content: center;
  align-content: flex-end;
  padding-top: 30px;
}
.board{
  padding: 4px;
}
#matrixExt{
  display: flex;
  justify-content: center;
padding: 20px;
}

#matrix {
    display: grid;
    background-color: #383838;
    gap: 3px;
    padding: 3px;
  }

  .square.clicked {
  background-color: #d0d0d0;
  border: inset 2px #888;
}